<%- include('./layouts/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
  </head>
  <body>
    
    <!-- Navbar -->
    <%- include('./layouts/navbar.ejs') %>
    </nav>

    <!-- Header Section -->
    <header class="text-white text-center py-5">
      <div class="container ">
        <img src="/banner.png" alt="banner-header" id="banner" />
        <h1 class="display-4">อ่านนิยายออนไลน์ได้ทุกที่ ทุกเวลา</h1>
        <p class="lead">เลือกอ่านนิยายโปรดของคุณ หรือค้นพบเรื่องใหม่ๆ!</p>
        <hr class="mt-5">
      </div>
    </header>
    
    <main>
      <!-- Featured Novels -->
       <%- include('./layouts/novelCard.ejs')%>
          </section>
        </main>
      
        <!-- Footer -->
        <%- include('./layouts/footer.ejs') %>
      </footer>
 
    <!-- script -->
      <%- include('./layouts/script.ejs')%>  
    </body>
</html>
